
html {
  font-family: sans-serif;
  line-height: 150%;
}

body {
  margin: 0;
  padding: 2em;
  --highlight-color: RoyalBlue;
}

main{
  max-width: 600px;
}

* {
  box-sizing: border-box;
}

::selection{
  color: white;
  background-color: var(--highlight-color);
}

*:not(:defined){
  opacity: 0;
}

a{
  color: var(--highlight-color);
}

.faqs {
  margin-top: 20px;
  display: grid;
  row-gap: 20px;
}

details summary {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  padding: 20px;
  border: 2px solid var(--highlight-color);
  border-radius: 10px;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:after {
  content: '▿';
  transition: 0.2s transform ease-in-out;
}

details[open] summary:after {
  transform: rotate(-180deg);
}

details[open] summary,
details summary:hover {
  color: white;
  background-color: var(--highlight-color);
}

.wrapper {
  padding: 20px 5px;
}

.wrapper p {
  margin: 0;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  body{
    color: white;
    background-color: #000020;
    --highlight-color: DodgerBlue;
  }
}
